ex05_flows.json
[
    {
        "id": "fb03e03a38f3b9f3",
        "type": "tab",
        "label": "ES_mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0d40b4d980c267c0",
        "type": "aedes broker",
        "z": "fb03e03a38f3b9f3",
        "name": "lenovo_broker",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "04fe6799d5595efd",
        "type": "mqtt in",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "topic": "number",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5181d27d.16459c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "e0ee52539ce1e84b",
                "5ec27c34af682283"
            ]
        ]
    },
    {
        "id": "103f34e2fd9ea669",
        "type": "mqtt out",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "topic": "mqtt_num",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5181d27d.16459c",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0ee52539ce1e84b",
        "type": "debug",
        "z": "fb03e03a38f3b9f3",
        "name": "debug_number",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "08b03812c4dae10c",
        "type": "inject",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "52d15f2e8ef70135"
            ]
        ]
    },
    {
        "id": "57d758414251d0de",
        "type": "mqtt in",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "topic": "mqtt_num",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5181d27d.16459c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 700,
        "y": 320,
        "wires": [
            [
                "8aaf23a0353f4300",
                "8a80d73b3182b4a8"
            ]
        ]
    },
    {
        "id": "8aaf23a0353f4300",
        "type": "debug",
        "z": "fb03e03a38f3b9f3",
        "name": "topic - mqtt_num",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "d9da242a0921d78d",
        "type": "inject",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "27a62330026b8d7e"
            ]
        ]
    },
    {
        "id": "6c402b01fbf426fd",
        "type": "mqtt out",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "topic": "number",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5181d27d.16459c",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "27a62330026b8d7e",
        "type": "random",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 680,
        "y": 140,
        "wires": [
            [
                "6c402b01fbf426fd"
            ]
        ]
    },
    {
        "id": "5ec27c34af682283",
        "type": "ui_gauge",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "group": "b37744cf10ef4a4b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "topic - number",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 200,
        "wires": []
    },
    {
        "id": "52d15f2e8ef70135",
        "type": "random",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "103f34e2fd9ea669"
            ]
        ]
    },
    {
        "id": "8a80d73b3182b4a8",
        "type": "ui_gauge",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "group": "b37744cf10ef4a4b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "topic - mqtt_num",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "99306867fca9ea01",
        "type": "ui_button",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "group": "b37744cf10ef4a4b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "inject to mqtt_num",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "52d15f2e8ef70135"
            ]
        ]
    },
    {
        "id": "0e0c8087e7ab7e39",
        "type": "mqtt in",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "topic": "mqtt_json",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5181d27d.16459c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "26135773b0393ef6",
                "359ad6bc69211df6"
            ]
        ]
    },
    {
        "id": "26135773b0393ef6",
        "type": "debug",
        "z": "fb03e03a38f3b9f3",
        "name": "debug_json",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 500,
        "wires": []
    },
    {
        "id": "359ad6bc69211df6",
        "type": "change",
        "z": "fb03e03a38f3b9f3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device",
                "pt": "msg",
                "to": "payload.device",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "value",
                "pt": "msg",
                "to": "payload.dev_value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "35cae68499b2928b"
            ]
        ]
    },
    {
        "id": "35cae68499b2928b",
        "type": "ui_gauge",
        "z": "fb03e03a38f3b9f3",
        "name": "JSON_gauge",
        "group": "b37744cf10ef4a4b",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.device}}",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 570,
        "y": 580,
        "wires": []
    },
    {
        "id": "5181d27d.16459c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.178",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b37744cf10ef4a4b",
        "type": "ui_group",
        "name": "MQTT",
        "tab": "635f92241f4df9a3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "635f92241f4df9a3",
        "type": "ui_tab",
        "name": "Emdedded_systems",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]